<div id="summary">
<mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile colspan="1">
        <div class="mat-typography">
            <h1>Summary</h1><hr><br>
            <p>Below, you can find the amount of time you've spent on each page</p>.<br>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Page Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-grid-tile>
</mat-grid-list>    
</div>
  
  