<mat-grid-list cols="1" rowHeight="50px" class="form-text">
	<mat-grid-tile colspan="1">
		<div class="mat-typography">
			<h2>Please Sign In</h2>
		</div>
</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="150px">
<mat-grid-tile>
<form [formGroup]="form" (ngSubmit)="onLogin()">
	<mat-form-field class="login-form">
	  <mat-label>Username</mat-label>
	  <input matInput id="username" formControlName="username" class="form-control" placeholder="Username" value="user">
	</mat-form-field><br>
	<div mat-dialog-actions align="center">
	<button mat-raised-button color="primary">Login</button>
	</div>
</form>
</mat-grid-tile>
</mat-grid-list>