<mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile>
        <div class="mat-typography">
            <h1>Home</h1><hr>
            <h2>Welcome, {{ localStore.get('username') }}!</h2>
            <p>Use the navigation on the left to navigate through pages.</p>
            <p>On the Information page you can read more about this website. </p>
            <p>On the Summary page you can see how much time have you spent on each page.</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>    
